header {
    height: 10%;
    background-color: #17a2b8;
}


.titulo{
    background-color: blue;
    color: white;
}

#b1{
    background: #343a40;
}
#tabla1{
    width: 40%;
    align-content: center;
    border: #17a2b8 5px solid;
   
}

#blanco{
    color:white;
}
